<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBaseLibrary.Properties.Settings.dbtrabajoConnectionString"
            connectionString="Data Source=192.168.1.30;Initial Catalog=dbtrabajo;User ID=sa;Password=ikyrios2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>